<!-- Bootstrap Template obtained from 
https://blackrockdigital.github.io/startbootstrap-new-age/
Code substantially modified -->

<!DOCTYPE html>
<html lang="en">

<style>
.panel-heading [data-toggle="collapse"]:after
{
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    float: right;
    color: #b0c5d8;
    font-size: 18px;
    line-height: 22px;

    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
}
.panel-heading [data-toggle="collapse"].collapsed:after
{
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
}
</style>


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome - Chicago Explorer</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-new-age/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->


    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://blackrockdigital.github.io/startbootstrap-new-age/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://blackrockdigital.github.io/startbootstrap-new-age/lib/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://blackrockdigital.github.io/startbootstrap-new-age/lib/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-new-age/css/new-age.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href=" ">Home - Chicago Exploer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#algorithm">About Recommendation Algorithm</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    {% block content %}
    {% endblock %}

    <section id="algorithm" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2><b>Recommendation Algorithm</b></h2>
                        <p class="text-muted">Check out why and how you get your customized recommendations</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">

     
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h3 class="panel-title"><b>1. Data Collection</b></h3>
                                      </div>
                                      <div class="panel-body">
<h5><u>Data Source</u></h5>
<h5>- Airbnb data: unofficial <a href="http://airbnbapi.org" target="_blank">Airbnb API</a> </h5>
<h5>- Hotel data: scraping <a href="http://www.booking.com" target="_blank">booking.com</a> </h5>
<h5>- Crime data:  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2" target="_blank">Reported incidents of crime in Chicago</a>, <a href="https://www.cityofchicago.org/city/en/depts/dcd/supp_info/community_area_2000and2010censuspopulationcomparisons.html" target="_blank">Community Area 2000 and 2010 Census Population</a>, and <a href="https://data.cityofchicago.org/Facilities-Geographic-Boundaries/Boundaries-Community-Areas-current-/cauq-8yn6" target="_blank">Chicago community boundaries</a></h5>
<h5>- Travel time between two places: <a href="https://developers.google.com/maps/documentation/distance-matrix/intro" target="_blank">GoogleMaps Distance Matrix API</a> </h5>
<h5>- Food qality index:<a href= "https://www.yelp.com/developers/documentation/v2/overview"target="_blank">Yelp API</a> </h5>
<h5><u>Crime Data consolidation</u></h5>
<h5>- Crime rate is calculated on community level. We firstly extract 2016 crime incidents, then select incidents by crime types that tourists concern most, including assulat, homicide, bulglary, etc. Finally, crime incidents are aggregated to community level and crime rate is calculated per 1,000 capita. </h5>



                                      </div>
                                    </div>                                   
                            </div>

                            <div class="col-md-6">
                                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h3 class="panel-title"><b>2. Attraction Selection</b></h3>
                                      </div>
                                      <div class="panel-body">
<h5>- Attraction selection is based on a pre-determined database of 32 popular attractions in Chicago. Each attraction falls into at least 1 of the 8 attraction type categories. If the user chooses to stay in Chicago for 3 nights or more, we will recommend 2 days of itinerary (12 to 15 hours in total spent at the attractions), and 1 day of itinerary (6 to 8 hours) otherwise. </h5>
<h5>- Selection is based on intuitive criteria. For example, if a user lists his or her top preferences, the attraction(s) that meet all 3 preferences will be considered first, followed by attractions that meet only the top 2 preferences, et cetera. </h5>
<h5>- Additional thresholds are applied so that the diversity of recommended attractions can be assured. For example, even if you pick “museums” as your only preference, you will likely get some attractions other than museums, especially when you stay longer than 2 nights. </h5>
<h5>- Total time recommended to spend at the attractions will be as close as to the upper limit (i.e., 8 hours for 1 day, 15 hours for 2 days) as possible.</h5>
                                      </div>
                                    </div>  
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h3 class="panel-title"><b>3. Route Selection</b></h3>
                                      </div>
                                      <div class="panel-body">
<h5>- Route selection functions are based on recursive structures. </h5>
<h5>- Under most occasions, we recommend you to pick an attraction as your next spot if it takes the least time to get there. </h5>
<h5>- For 2-day itineraries, the 1st day tends to be fuller than the 2nd, but shall not exceed 8 hours, unless in very rare cases when all selected attractions need a great amount of time per se. </h5>
                                      </div>
                                    </div>  
                            </div>
                            <div class="col-md-6">
                                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h3 class="panel-title"><b>4. Overall Selection Structure</b></h3>
                                      </div>
                                      <div class="panel-body">
<h5>- Obtain accommodation listings from Airbnb and Booking, select top 100 ranking ones listed on the websites</h5>
<h5>- Select attractions to visit based on attraction selection algorithm </h5>
<h5>- Calculate total transportation time for each accommodation candidate based on the route selection algorithm</h5>
<h5>- Ascending sort location candidate list with the transportation time index</h5>
<h5>- Ascending sort location candidate list based on the quality of restaurants nearby</h5>
<h5>- Drop accommodations located in dangerous communities </h5>
                                      </div>
                                    </div>  
                            </div>
                        </div>
                    </div>
              
            </div>
        </div>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new ideas!</h2>
            <ul class="list-inline list-social">
                <li class="social_twitter">
                    <a href="https://twitter.com/UChicagoCAPP?ref_src=twsrc%5Etfw"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social_github">
                    <a href="https://github.com/Minjia-Zhu"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li class="social_capppage">
                    <a href="https://capp.sites.uchicago.edu/"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>

                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://blackrockdigital.github.io/startbootstrap-new-age/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-new-age/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    



    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-new-age/js/new-age.min.js"></script>

</body>

</html>