<!-- Bootstrap Template obtained from 
https://blackrockdigital.github.io/startbootstrap-new-age/
Code substantially modified -->


{% extends 'base.html' %}

{% block content %}

<style>
input[type=submit] {
    border: 1.8px solid #ffffff;
    color: #fff;
    background: #FFC300;
    padding: 10px 20px;
    border-radius: 30px;
    font-size:120%;}

form{color:#ccc;
	size:990%;}
</style>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1> Accommodation finder for a safe, convenient and tasty leisure experience in Chicago</h1>
                        <a href="#search" class="btn btn-outline btn-xl page-scroll">Get Recommendation Now!</a>
                    </div>
                </div>
            </div>
<!--             <div class="col-sm-5">
                <div style="width:480px;height:635px;overflow:hidden">
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/4e/de/7f/4ede7f2ad9f84a96d8d9c84764f1f8ef.jpg" alt="my dog eating a tangerine">
                </div>
            </div> -->
        </div>
    </div>
</header>

    <section class="cta">
        <div class="cta-content">
            <div id="search" class="container">
                <h1>
                <font size="10" face="Helvetica" color=#FFC300></font>
                </h1>
                <br>
                <br>
                <form method='POST' action=''> 
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' value='Explore'/>
                </form>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

{% endblock %}    